@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  src: url("../fonts/montserratalternates-regular-webfont.woff");
}
@font-face {
  font-family: "Metropolis-SemiBold";
  font-style: normal;
  src: url("../fonts/Metropolis-Semibold.woff");
}
a, p, li, label {
  color: black;
  font-family: "Lexend", "Montserrat", Arial, sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 12px;
}

a, p, li, h3 {
  transition: all ease-in-out 0.5s;
}

h3 {
  font-family: "Lexend", "Montserrat Alternates", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}
a:visited {
  color: black;
}

label {
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text {
  color: #3A53A4;
  font-size: 20px;
  font-family: "Lexend", "Montserrat Alternates", Arial, sans-serif;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
}

.hero-text:not(#home-hero-text) {
  border-radius: 50px;
}

.donate-text, .send-button {
  font-size: 15px;
  font-family: "Lexend", "Montserrat", Arial, sans-serif;
  font-weight: 600;
  color: white !important;
}

.nav-lightbox p, .nav-lightbox a {
  font-family: "Lexend", "Montserrat Alternates", Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.number-con h3 {
  font-size: 15px;
}
.number-con p {
  font-size: 10px;
}
.number-con .number {
  font-weight: bold;
  font-size: 15px;
}

#newsletter-send {
  font-family: "Lexend", "Montserrat", Arial, sans-serif;
  font-weight: 500;
}

.donate-box-text {
  font-size: 20px;
}

#emergency-phone h3 {
  font-size: 14px;
  color: white !important;
  text-align: center !important;
}
#emergency-phone p {
  font-size: 12px;
  color: white !important;
  text-align: center !important;
}

.member-name {
  font-size: 15px;
  font-weight: 600;
}

#week-info #presents-title {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
#week-info h3 {
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 30px;
    padding: 30px;
  }
  h3 {
    text-align: left;
  }
  .reason-box h3 {
    font-size: 16px;
  }
  .reason-box p {
    font-size: 12px;
  }
  #emergency-phone h3 {
    font-size: 18px;
  }
  #emergency-phone p {
    font-size: 16px;
  }
  .member-name {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  a, p, li {
    font-size: 20px;
    line-height: 25px;
  }
  .hero-text {
    font-size: 40px;
    padding: 30px;
  }
  h3 {
    font-size: 40px;
  }
  .number-con h3 {
    font-size: 25px;
  }
  .number-con p {
    font-size: 15px;
  }
  .number-con .number {
    font-size: 25px;
  }
  .reason-box h3 {
    font-size: 20px;
  }
  .reason-box p {
    font-size: 15px;
  }
  #emergency-phone h3 {
    font-size: 20px;
  }
  #emergency-phone p {
    font-size: 18px;
  }
}
header {
  background-color: transparent;
  position: sticky;
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 10;
  background-color: white;
  transition: all ease-in-out 0.3s;
}

#header-con {
  grid-column: 2/3;
  margin: 0;
}

#header-logo {
  text-align: center;
  align-self: center;
  transition: all ease-in-out 0.5s;
  padding-top: 5px;
}
#header-logo img {
  max-width: 80%;
}
#header-logo:hover {
  opacity: 70%;
}

#donate-button {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3A53A4;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
}
#donate-button:hover {
  background-color: #9BCA3B;
}

#hamburger-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
}

#hamburger-menu {
  max-height: 32px;
  cursor: pointer;
}

#nav-menu {
  display: none;
  align-content: center;
  z-index: 10;
  position: absolute;
  top: 100px;
  right: 0;
  width: 150px;
}
#nav-menu p:not(.line-break) {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  border-radius: 20px;
}
#nav-menu p:not(.line-break) a {
  transition: all ease-in-out 0.3s;
}
#nav-menu p:not(.line-break) a:hover {
  color: #9BCA3B;
}

.drop-menu {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#explore-menu {
  position: absolute;
  background-color: #3A53A4;
  top: 70px;
  left: 55%;
  display: none;
  flex-direction: column;
  border-radius: 20px;
}
#explore-menu a {
  margin: 20px;
  color: white;
  transition: all ease-in-out 0.3s;
}
#explore-menu a:hover {
  color: #9BCA3B;
}

@media screen and (min-width: 768px) {
  #hamburger-menu-icon {
    display: none !important;
  }
  #header-logo, #hamburger-menu-icon, #nav-menu {
    order: -1;
  }
  #nav-menu {
    display: flex !important;
    position: static;
    justify-content: space-evenly;
    width: 100%;
  }
  #nav-menu p {
    flex-direction: row;
    align-self: center;
    text-align: center;
  }
  #get-help-menu .line-break, #get-involved-menu .line-break, #about-menu .line-break {
    border-bottom: 1px solid black;
    border-right: none;
  }
}
@media screen and (min-width: 1200px) {
  .donate-text {
    font-size: 20px;
  }
  #explore-menu a {
    margin: 30px;
  }
}
footer {
  background-color: #3A53A4;
  padding-bottom: 70px;
}
footer .grid-con {
  margin: 0;
  grid-column: 2/3;
}

#footer-logo-con, #footer-links, #footer-newsletter {
  text-align: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-logo-con {
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 50px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
#footer-logo-con img {
  transition: all ease-in-out 0.5s;
  max-width: 90%;
}
#footer-logo-con img:hover {
  opacity: 70%;
}

#footer-links {
  margin-bottom: 50px;
  transition: all ease-in-out 0.3s;
}
#footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer-links li {
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
}
#footer-links li a {
  color: white;
}
#footer-links li a:hover {
  color: #9BCA3B;
}

#sm-newsletter {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
#sm-newsletter #newsletter-title {
  text-align: left;
  font-size: 15px;
  color: white;
  font-weight: 400;
}
#sm-newsletter #bottom-foundation {
  font-weight: 700;
}
#sm-newsletter p {
  margin-bottom: 30px;
  font-weight: bold;
}

#sm-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-sm-icon {
  transition: all ease-in-out 0.5s;
}
.footer-sm-icon:hover {
  opacity: 70%;
}

#footer-links li:not(:last-of-type) {
  margin-bottom: 15px;
}

.newsletter-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.newsletter-sign-up #email {
  margin-top: 15px;
  border: none;
  font-size: 20px;
  width: 70%;
}
.newsletter-sign-up #newsletter-send {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  width: 20%;
  border: 0;
  border-radius: 20px;
  background-color: #9BCA3B;
  align-self: flex-end;
  margin-left: 10%;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.newsletter-sign-up #newsletter-send:hover {
  background-color: #70CBD6;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer-logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  #footer-links {
    margin-bottom: 0;
  }
  #footer-links li {
    padding-right: 11%;
    padding-left: 11%;
  }
  #sm-icons {
    order: 1;
    margin-bottom: 0;
  }
  #sm-newsletter #newsletter-title {
    font-size: 12px;
  }
  #sm-newsletter p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  .newsletter-sign-up {
    margin-bottom: 15px;
  }
  .newsletter-sign-up #email {
    border: none;
    margin-top: 0;
    font-size: 20px;
    width: 73%;
  }
  .newsletter-sign-up #newsletter-send {
    width: 25%;
    margin-left: 2%;
    margin-top: 0;
    background-color: #9BCA3B;
  }
}
@media screen and (min-width: 1200px) {
  #sm-newsletter #newsletter-title {
    font-size: 15px;
  }
  #footer-logo-con img {
    max-width: 80%;
  }
}
body {
  position: relative;
  z-index: -10;
  background-color: #ffffff;
  transition: all ease-in-out 0.5s;
}

a {
  text-decoration: none;
}

.full-width-grid-con .grid-con {
  margin: 0;
  grid-column: 2/3;
}

.line-break {
  border-bottom: 1px solid black;
}

.hero-image {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 405px;
}

input {
  height: 40px;
  border: none;
  border-radius: 10px;
}

textarea {
  border-radius: 10px;
  height: 80px;
  border: none;
  resize: none;
}

.send-button {
  width: 130px;
  border: 0;
  background-color: #3A53A4;
  text-align: center;
  color: white;
  border-radius: 25px;
  align-self: center;
  cursor: pointer;
}

section {
  margin-bottom: 30px !important;
}

.custom-button {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3A53A4;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white !important;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}
.custom-button:hover {
  background-color: #9BCA3B;
}

.shader {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 35%;
  position: absolute;
}

video {
  border-radius: 20px;
}

.divider {
  border-bottom: 2px solid #9BCA3B;
  margin-bottom: 30px;
}

.form-style {
  margin-bottom: 30px;
}
.form-style input {
  width: 100%;
}
.form-style #message {
  width: 100%;
}

#feedback-area, #message-confirm {
  margin-top: 20px;
  background-color: transparent !important;
}
#feedback-area p, #message-confirm p {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

#newsletter-confirm p, #newsletter-feedback p {
  color: white;
  margin-bottom: 20px;
}

.catch-handle {
  display: none;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  textarea {
    height: 120px;
  }
  .hero-image {
    height: 315px;
  }
  .line-break {
    border-bottom: none;
    border-right: 1px solid black;
    height: 20px;
  }
  section {
    margin-bottom: 35px !important;
  }
  .custom-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .divider {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  textarea {
    height: 150px;
  }
  .hero-image {
    height: 500px;
  }
  section {
    margin-bottom: 40px !important;
  }
  .custom-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
  label {
    font-size: 20px;
    font-weight: 400;
  }
  .divider {
    margin-bottom: 40px;
  }
}
#bottom-menu {
  background-color: transparent;
  bottom: 0;
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.bottom-icon {
  background-color: black;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
  position: sticky;
  bottom: 0;
  left: 90%;
  z-index: 10;
  cursor: pointer;
}
.bottom-icon:hover {
  background-color: pink;
  border: 1px solid pink;
}

#activation-icon {
  z-index: 20;
  order: 1 !important;
}

#dark-mode, #emergency-phone {
  transition: all ease-in-out 1s;
}

#dark-mode {
  order: -1;
}

#emergency-phone {
  order: -2;
  display: flex;
  align-items: center;
}

#emergency-phone p:not(:last-of-type) {
  margin-bottom: 20px;
}

#number-window {
  position: absolute;
  right: 100%;
  margin-right: 30px;
  padding: 30px;
  background-color: #3A53A4;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .botton-icon {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #emergency-phone p:not(:last-of-type) {
    margin-bottom: 30px;
  }
  #number-window {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
  }
}
.nav-lightbox {
  display: none;
  background: #3A53A4;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  z-index: 10;
}

.lb-close {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 50px;
}

#lightbox-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lightbox-menu p {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .nav-lightbox {
    display: none !important;
  }
}
video {
  max-width: 100%;
}

#video-logo-con {
  margin-left: 5%;
  max-width: 100px;
  background-color: white;
  padding: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}
#video-logo-con img {
  width: 100%;
}

.video-con {
  position: relative;
}

#home-video, #donate-video-con, #about-video-con {
  display: flex;
  flex-direction: column;
}

.video-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: all 0.5s ease-in-out;
  align-items: center;
  background-color: #3A53A4;
  flex-wrap: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.video-controls button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  margin-left: 5%;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.fa, .fa-solid, .fa-regular {
  font-size: 10px;
  margin-left: 5%;
  color: white;
}

i {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
i:hover {
  opacity: 60%;
}

input[type=range] {
  max-width: 70px;
}

#change-volume {
  accent-color: #9BCA3B;
}

.fa-volume-up {
  margin-left: auto;
}

#full-screen {
  margin-left: auto;
  margin-right: 5%;
}

@media screen and (min-width: 428px) {
  input[type=range] {
    max-width: 100px;
  }
  .fa, .fa-solid, .fa-regular {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .fa, .fa-solid, .fa-regular {
    font-size: 20px;
  }
}
#home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  color: white;
  text-align: center;
  position: relative;
}
#home-hero .hero-text {
  line-height: normal;
  padding-bottom: 0;
}
#home-hero .hero-image {
  align-content: flex-end;
}

#home-hero-link {
  grid-column: 2/3;
  text-decoration: none;
}

#home-con {
  margin: 0;
  grid-column: 2/3;
}
#home-con .hero-text {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#home-hero-text {
  padding-top: 10px !important;
}

.home-hero-supplementary-text {
  font-size: 12px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(0, 0, 0);
  padding: 10px;
}

#waw-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#waw-text p {
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#waw-image {
  margin-top: 30px;
  height: 252px;
  background-image: url(../images/hp-2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

#fact-wrapper {
  margin: 0;
  grid-column: 2/3;
}

#facts-text p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

#home-instructions {
  font-weight: 600;
  display: none;
}

.fact-box, .fiction-box {
  height: 235px;
  margin-bottom: 30px;
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}
.fact-box h3, .fact-box p, .fiction-box h3, .fiction-box p {
  color: white;
}

.fiction-title, .fact-title {
  font-weight: 600;
  font-size: 25px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.fiction-text, .fact-text {
  font-size: 18px;
}

.ff-div {
  height: 235px;
  border-radius: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.ff-div .shader {
  border-radius: 20px;
}
.ff-div .fact-box {
  display: none;
  flex-direction: column;
}
.ff-div .fiction-box {
  display: flex;
  flex-direction: column;
}

#hvc-button {
  margin-top: 30px;
  justify-self: center;
}

#mental-illness-con {
  background-color: #70CBD6;
}

#mi-wrapper {
  margin: 0;
  grid-column: 2/3;
}

#mi-text {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#mi-text p {
  margin-left: 5%;
  margin-right: 5%;
}

.mental-health-info {
  height: 290px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #70CBD6;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.mental-health-info h3 {
  padding-top: 30px;
  color: white;
  text-shadow: 0 2px black;
}
.mental-health-info:hover {
  opacity: 75%;
}

#bp-div {
  background-image: url(../images/drawings/bipolar.png);
}

#pd-div {
  background-image: url(../images/drawings/psychotic-depression-plant.png);
}

#s-div {
  background-image: url(../images/drawings/schizophrenia-plant.png);
}

.home-link, .mi-link {
  transition: all 0.5s ease-in-out;
}
.home-link:hover, .mi-link:hover {
  text-decoration: none;
}

.home-redirect {
  height: 290px;
  border-radius: 20px;
  background-color: #70CBD6;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-redirect:hover {
  opacity: 70%;
}
.home-redirect h3 {
  color: white;
}
.home-redirect .shader {
  border-radius: 20px;
}

#services-redirect {
  background-image: url(../images/services.jpg);
}

#cv-redirect {
  background-image: url(../images/volunteer.jpg);
}

#blog-redirect {
  background-image: url(../images/blog.jpg);
}

#donate-redirect {
  background-image: url(../images/donate.jpg);
  margin-bottom: 0;
}

.redirect-title {
  z-index: 5;
}

.fact-text {
  margin-right: 3%;
}

#home-video-con {
  background-color: #70CBD6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.arrow {
  display: none;
  font-size: 36px;
  align-self: center;
  color: #9BCA3B;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.arrow:hover {
  opacity: 70%;
}

@media screen and (min-width: 768px) {
  .arrow {
    display: block;
  }
  .home-hero-supplementary-text {
    font-size: 14px;
    padding: 10px;
    padding-top: 0 !important;
    padding-left: 3%;
    padding-right: 3%;
  }
  #waw-text {
    justify-content: center;
  }
  #waw-text p {
    text-align: left;
  }
  #waw-image {
    margin-top: 0;
    height: 270px;
  }
  #facts-text h3 {
    text-align: center;
  }
  #fact-con {
    display: flex;
    justify-content: space-around;
  }
  .ff-div {
    width: 30%;
    max-width: 100%;
    height: 250px;
    margin-bottom: 40px;
  }
  #blog-redirect {
    margin-bottom: 0;
  }
  .fiction-title, .fact-title {
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
  }
  .fiction-text, .fact-text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
  }
  #hvc-button {
    margin-top: 50px;
  }
  #home-video-con {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #home-video-con h3 {
    margin-bottom: 30px;
  }
  #home-video-title h3 {
    text-align: center;
  }
  #mi-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mental-health-cards {
    display: flex;
    justify-content: space-around;
  }
  #mental-health-cards a {
    width: 30%;
  }
  .mental-health-info {
    height: 200px;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
  }
  .mental-health-info h3 {
    text-align: center;
    font-size: 15px;
    padding-top: 0;
  }
  #home-services-text h3 {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  #home-instructions {
    display: block;
  }
  #home-hero .hero-text {
    padding-bottom: 10px;
    line-height: normal;
  }
  .home-hero-supplementary-text {
    font-size: 18px;
    padding-bottom: 15px;
  }
  #waw-image {
    height: 408px;
  }
  .ff-div {
    height: 350px;
  }
  .ff-div .fact-box {
    display: none;
    margin-left: 0;
  }
  .ff-div .fiction-box {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .fiction-title, .fact-title {
    font-size: 25px;
  }
  .fact-text, .fiction-text {
    font-size: 20px;
  }
  .mental-health-info {
    height: 400px;
  }
  .mental-health-info h3 {
    font-size: 25px;
  }
  .home-video-con {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
#contact-hero {
  background-image: url(../images/hero-images/contact.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
}

#need-support {
  margin-bottom: 50px;
}
#need-support h3 {
  margin-bottom: 12px;
}

#support-number {
  text-align: center;
  margin-bottom: 50px;
}
#support-number div {
  border-radius: 20px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #9BCA3B;
}
#support-number div h3 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.number-con {
  padding: 0 !important;
  margin-bottom: 30px;
}
.number-con p {
  margin-bottom: 10px;
}

.support-break {
  border-bottom: 1px solid #3A53A4;
}

#contact-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
#contact-contact #contact-con {
  background-color: #70CBD6;
  padding-bottom: 10px;
}
#contact-contact h3 {
  margin-bottom: 20px;
}

#form-desc {
  margin-top: 5px;
}

#contact-page-form {
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media screen and (min-width: 768px) {
  #contact-hero {
    margin-bottom: 30px;
  }
  #contact-hero, #need-support, #support-number, #contact-contact {
    margin-bottom: 45px;
  }
  #contact-text h3, #need-support div h3 {
    text-align: center;
  }
  .support-break {
    display: none;
  }
  #support-number div {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #support-number h3 {
    text-align: center;
  }
  #help-numbers {
    display: flex;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  #contact-contact #contact-con {
    background-color: transparent;
  }
  #contact-contact #form-con div {
    border-radius: 20px;
    background-color: #70CBD6;
    padding-left: 8.25%;
    padding-right: 8.25%;
  }
  #contact-send {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #contact-hero, #need-support, #support-number, #contact-contact {
    margin-bottom: 55px;
  }
  #support-number div {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .number-con p {
    margin-bottom: 30px;
  }
}
#donate-hero {
  background-image: url(../images/hero-images/donate.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
}

#donate-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#donate-inside #donate-gfe-redirect {
  z-index: 5;
}

#donate-why #donate-title {
  text-align: center;
  margin-bottom: 40px;
}

#reason-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reason-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25px;
}
.reason-box img {
  max-width: 60px;
  margin-bottom: 25px;
}
.reason-box h3 {
  margin-bottom: 10px;
}

#donate-video {
  text-align: center;
}

.video-image {
  border-radius: 20px;
  height: 200px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.video-image:hover {
  opacity: 70%;
}

#counsellor-video {
  background-image: url(../images/counsellor.png);
  background-position: 100%;
  background-size: cover;
}

#youth-video {
  background-image: url(../images/sophia.jpg);
  background-position: 100%;
  background-size: cover;
}

#donate-video-con {
  padding-top: 50px;
  display: none;
}

#video-text {
  margin-bottom: 30px;
}
#video-text h3 {
  text-align: center;
}

#tie-dye-info {
  height: 493px;
  background-image: url(../images/tye-shirt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tie-dye-info p {
  z-index: 5;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
  position: relative;
}

#donate-ways {
  text-align: center;
}

#donate-text-con h3 {
  margin-bottom: 15px;
}
#donate-text-con p {
  margin-bottom: 55px;
}

#give-text {
  color: #9BCA3B;
}

#donate-box-con {
  display: flex;
}

.donate-box {
  transition: all ease-in-out 0.5s;
  border-radius: 20px;
  cursor: pointer;
}
.donate-box:hover {
  opacity: 60%;
}

.donate-image-box {
  border-radius: 20px;
}

#donate-gofundme {
  background-image: url(../images/gofundme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 278px;
  margin-bottom: 30px;
  display: block;
}

#gfm-text {
  margin-bottom: 30px;
}

#donate-volunteer {
  background-image: url(../images/volunteer_hands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 278px;
  display: block;
  margin-bottom: 30px;
}

#statistics-con h3 {
  text-align: center;
  margin-bottom: 20px;
}

.stat-div {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.stat-div img {
  margin-right: 5%;
  max-width: 50px;
}

.action-text {
  color: #9BCA3B;
}

#wide-vid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #70CBD6;
}

.blue-shader {
  height: 100%;
  width: 100%;
  background-color: #3A53A4;
  opacity: 35%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  #reason-con {
    flex-direction: row;
  }
  .donate-box-text {
    order: 1;
    text-align: center;
  }
  #statistics-con h3 {
    margin-bottom: 30px;
  }
  .reason-box {
    margin-left: 1%;
    margin-right: 1%;
  }
  .reason-box h3 {
    text-align: center;
  }
  #donate-text-con h3 {
    text-align: center;
  }
  #donate-text-con p {
    margin-bottom: 30px;
  }
  #tie-dye-info {
    background-color: transparent;
    height: 320px;
  }
  #tie-dye-info div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  #gfm-text {
    margin-bottom: 0;
  }
  #wide-vid {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .stat-div img {
    max-width: 70px;
  }
}
@media screen and (min-width: 1200px) {
  #wide-vid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #statistics-con h3 {
    margin-bottom: 40px;
  }
}
#about-hero {
  background-image: url(../images/hero-images/about.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

#mission-text {
  display: flex;
  flex-direction: column;
}
#mission-text h3, #mission-text p {
  margin-bottom: 15px;
}
#mission-text img {
  max-height: 213px;
  margin-bottom: 20px;
}

#long-pic {
  height: 213px;
  background-image: url(../images/about-support.jpg);
  background-position: 0 55%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

#our-story {
  padding-bottom: 40px;
  background-color: #70CBD6;
}

#story-con {
  grid-column: 2/3;
  margin: 0;
  text-align: center;
}
#story-con h3 {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
}
#story-con p {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

#leadership-text h3 {
  margin-bottom: 10px;
}
#leadership-text p {
  text-align: center;
  margin-bottom: 20px;
}

.member-profile {
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.member-pic {
  height: 280px;
  width: 100%;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#stuart-icon {
  background-image: url(../images/profile-icon/stuart_du_kamp.png);
  background-position: 60%;
  background-color: #3A53A4;
}

#aimee-icon {
  background-image: url(../images/profile-icon/aimee_hagerty.png);
  background-color: #EC2E91;
}

#caelan-icon {
  background-image: url(../images/profile-icon/caelan_hagerty.png);
  background-color: #9BCA3B;
}

#bill-icon {
  background-image: url(../images/profile-icon/bill_hagerty.png);
  background-color: #8C63A8;
}

#russell-icon {
  background-image: url(../images/profile-icon/russell_levangie.png);
  background-color: #FFB132;
}

#you-icon {
  background-image: url(../images/boy.svg);
  background-color: #70CBD6;
  background-size: contain;
}

.member-name, .member-text {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.member-text {
  z-index: 10;
  margin-bottom: 20px;
}

#you {
  background-color: #70CBD6;
}

#you-con {
  margin: 0;
  grid-column: 2/3;
}

#you-img {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 244px;
  background-color: #38656A;
}
#you-img img {
  height: 100%;
  width: 100%;
}

#you-text {
  display: flex;
  flex-direction: column;
}
#you-text h3 {
  margin-bottom: 10px;
  color: white;
}
#you-text p {
  margin-bottom: 30px;
}

#about-button {
  align-self: center;
  transition: all ease-in-out 0.5s;
}
#about-button a {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3A53A4;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 17px;
}
#about-button:hover a {
  background-color: #9BCA3B;
}

#partner-text {
  margin-bottom: 50px;
}
#partner-text p {
  text-align: center;
}

.partner-info-con {
  margin-left: 3%;
  margin-right: 3%;
}

.partner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  transition: all ease-in-out 0.5s;
}
.partner-info img {
  width: 128px;
}
.partner-info p {
  font-size: 14px;
  text-align: right;
}
.partner-info:hover {
  background-color: #9BCA3B;
  opacity: 70%;
}

#partner-img-con {
  height: 493px;
  background-image: url(../images/partner.jpg);
  background-size: cover;
  margin-bottom: 20px;
  background-position: 70%;
}

#partner-con {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.partner-icon {
  height: 128px;
  width: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 15px;
}

#become-con h3 {
  margin-bottom: 30px;
}

#about-contact-link, #about-network-link {
  color: #9BCA3B;
}

#about-title-tablet {
  display: none;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #mission-text img {
    max-height: 190px;
  }
  #mission-text h3 {
    text-align: center;
  }
  #long-pic {
    height: 100%;
    background-position: center;
  }
  #short-pic {
    height: 190px;
  }
  #story-con p {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
  }
  #about-video-con {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-video {
    max-width: 70%;
  }
  #leadership-text {
    margin-bottom: 40px;
  }
  #leadership-text h3 {
    text-align: center;
  }
  #members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .member-pic {
    height: 181px;
    width: 186px;
    margin-bottom: 15px;
  }
  #you-icon {
    background-size: 80%;
    background-position: 60% 95%;
  }
  .member-profile {
    max-width: 186px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .member-name {
    margin-bottom: 10px;
  }
  #you-img {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 250px;
  }
  #you-text {
    justify-content: center;
  }
  #about-button {
    align-self: flex-start;
  }
  #about-button a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  #our-partners h3 {
    text-align: center;
  }
  .partner-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
  }
  .partner-info img {
    width: 106px;
  }
  .partner-info p {
    font-size: 12px;
  }
  #become-con {
    display: flex;
  }
  #partner-img-con {
    height: 232px;
    margin-bottom: 20px;
    background-position: 80%;
  }
  #about-title-mobile {
    display: none;
  }
  #about-title-tablet {
    display: block;
  }
  #become-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #become-text-con h3 {
    margin-bottom: 10px;
    text-align: left;
  }
  .sponsor-icon {
    height: 110px;
    width: 110px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  #mission-text img {
    max-height: 300px;
  }
  .portable {
    display: none !important;
  }
  #short-pic {
    height: 300px;
  }
  #about-video {
    max-width: 80%;
  }
  .member-profile {
    max-width: 100%;
  }
  .member-pic {
    height: 290px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
  }
  .about-shader {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
  }
  .member-name {
    margin-bottom: 70px;
    z-index: 1;
  }
  .bottom-member {
    margin-bottom: 0;
  }
  .member-text {
    display: none;
    position: absolute;
    top: 50%;
    text-align: center;
    left: auto;
    right: auto;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(-50%);
  }
  .green-bumper {
    height: 10px;
    width: 100%;
    background-color: #9BCA3B;
    transition: all ease-in-out 0.5s;
    position: absolute;
    z-index: -1;
    top: 290px;
  }
  .member-profile:hover .member-text {
    display: block;
    color: white;
  }
  .member-profile:hover .about-shader {
    display: block;
  }
  .member-profile:hover .green-bumper {
    height: 60px;
  }
  #you-text h3 {
    margin-bottom: 20px;
  }
  #you-img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
  }
  #about-button {
    margin-top: 45px;
  }
  #about-button a {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;
  }
  #partner-con {
    margin-bottom: 30px;
  }
  .partner-info img {
    width: 170px;
  }
  .partner-info p {
    font-size: 20px;
  }
  #partner-img-con {
    height: 360px;
  }
  .sponsor-icon {
    height: 125px;
    width: 125px;
    margin-bottom: 10px;
  }
}
#blog-hero {
  background-image: url(../images/hero-images/blog.jpg);
  position: relative;
  background-size: cover;
  background-position: 0 65%;
}

#blog-recent-title h3 {
  margin-bottom: 20px;
}

.blog-post {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.blog-post a {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all ease-in-out 0.5s;
}
.blog-post a:hover {
  background-color: #9BCA3B;
  opacity: 70%;
}

.blog-pic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130px;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.blog-desc {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.details-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.details-div p {
  font-size: 10px;
  font-weight: bold;
}

#more-blogs {
  margin-top: 30px;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  #blog-recent-title h3 {
    text-align: center;
  }
  .blog-desc {
    text-align: left;
    margin-bottom: 20px;
  }
  .blog-pic {
    height: 192px;
  }
  .details-div {
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .blog-title {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-desc {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-pic {
    height: 300px;
    margin-bottom: 35px;
  }
  .details-div {
    margin-left: 15px;
    margin-right: 15px;
  }
  .details-div p {
    font-size: 15px;
  }
}
#cv-hero {
  background-image: url(../images/hero-images/career.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cv-text, #build-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cv-text .custom-button, #build-text .custom-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#cv-image, #build-image {
  height: 318px;
  background-color: #70CBD6;
  border-radius: 20px;
}

#cv-image {
  background-image: url(../images/volunteer-paint.jpg);
  background-position: 0 70%;
  background-size: cover;
}

#build-text {
  margin-top: 30px;
}

#build-image {
  background-image: url(../images/career.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#cv-rewards {
  background-color: #70CBD6;
}

#sv-opportunities {
  display: flex;
  flex-direction: column;
}

#volunteer-opportunities {
  margin-top: 30px;
  margin-bottom: 20px;
}

.cv-box-title {
  font-size: 18px;
  background-color: #3A53A4;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
}

.c-box-listing, .v-box-listing {
  border-left: 1px solid #9BCA3B;
  border-right: 1px solid #9BCA3B;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}
.c-box-listing .cv-break, .v-box-listing .cv-break {
  margin-top: 20px;
  border-bottom: 3px solid #9BCA3B;
}
.c-box-listing:last-of-type, .v-box-listing:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #9BCA3B;
}
.c-box-listing:last-of-type .cv-break, .v-box-listing:last-of-type .cv-break {
  border-bottom: none;
}

.reference-number {
  font-size: 14px;
  margin-bottom: 0;
  text-align: left;
}

.v-event-title {
  font-size: 14px;
}

#disclaimer {
  margin-top: 40px;
}
#disclaimer h3 {
  font-size: 15px;
}

#cv-form-text {
  margin-bottom: 20px;
}

#cv-form {
  text-align: center;
  margin-bottom: 30px;
}
#cv-form #cv-contact {
  background-color: #70CBD6;
  padding-bottom: 10px;
  grid-column: 2/3;
}
#cv-form h3 {
  margin-bottom: 20px;
}

#cv-page-form {
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#cv-send {
  margin-bottom: 20px;
}

#opportunities-title p {
  text-align: center;
}

#cv-build {
  background-color: #70CBD6;
}

@media screen and (min-width: 768px) {
  #cv-text, #build-text {
    justify-content: center;
    align-items: flex-start;
  }
  #cv-text h3, #build-text h3 {
    font-size: 30px;
  }
  #cv-text .custom-button, #build-text .custom-button {
    margin-top: 30px;
    align-self: flex-start;
  }
  #cv-image, #build-image {
    height: 330px;
  }
  #cv-build {
    padding-top: 40px;
  }
  #build-image {
    order: -1;
  }
  #cv-rewards {
    background-color: transparent;
  }
  #cv-rewards-con {
    background-color: #70CBD6;
  }
  #opportunities-title h3 {
    text-align: center;
  }
  #volunteer-opportunities, #career-opportunities {
    margin-top: 40px;
  }
  .cv-box-title {
    text-align: center;
  }
  #disclaimer h3 {
    font-size: 20px;
    text-align: center;
  }
  #cv-form #cv-contact {
    background-color: transparent;
  }
  #cv-form #cv-form-t {
    border-radius: 20px;
    background-color: #70CBD6;
    padding-left: 8.25%;
    padding-right: 8.25%;
  }
  #cv-send {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #cv-image, #build-image {
    height: 525px;
  }
  .cv-box-title {
    font-size: 25px;
  }
  .reference-number, .v-event-title {
    font-size: 22px;
  }
}
#events-hero {
  background-image: url(../images/hero-images/events.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 40%;
}

.event-button {
  margin-bottom: 20px;
}

#week-sixtysix {
  position: relative;
  background-image: url(../images/victoria-park.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#week-sixtysix .shader {
  border-radius: 20px;
}

#week-info {
  padding-top: 100px;
  padding-bottom: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
#week-info #presents-title {
  margin-bottom: 20px;
  color: white;
}
#week-info h3 {
  margin-bottom: 25px;
  color: white;
}
#week-info p:not(#presents-title) {
  margin-left: 12.5%;
  margin-right: 12.5%;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
#week-info a {
  text-align: center;
}

.event-info {
  margin-bottom: 35px;
}
.event-info:last-of-type {
  margin-bottom: 0;
}
.event-info:not(:last-of-type) {
  border-bottom: 2px solid #9BCA3B;
}

.event-date {
  text-align: center;
  background-color: #9BCA3B;
  font-size: 25px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
}

.event-image {
  height: 122px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-text h3 {
  font-size: 15px;
}
.event-text p {
  text-align: center;
}
.event-text p:last-of-type {
  margin-bottom: 25px;
}
.event-text .event-location {
  font-size: 14px;
  margin-bottom: 15px;
}

#event-donate-text {
  background-color: #9BCA3B;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#event-donate-text h3 {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .event-image {
    height: 200px;
  }
  #upcoming-text h3 {
    text-align: center;
  }
  #upcoming-text p {
    text-align: center;
  }
  .event-date {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    height: 80px;
  }
  .event-button {
    margin-bottom: 0;
  }
  .event-text {
    align-items: flex-start;
    justify-content: center;
  }
  .event-text p {
    text-align: left;
  }
  #event-donate-text {
    height: 252px;
  }
  #event-donate-text h3 {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .event-image {
    height: 320px;
  }
  .event-date {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    height: 135px;
  }
  .event-text {
    align-items: flex-start;
    justify-content: center;
  }
  .event-text h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .event-text p {
    text-align: left;
  }
  .event-text .event-location {
    font-size: 22px;
  }
  #event-donate-text {
    height: 400px;
  }
  #event-donate-text h3 {
    padding-left: 230px;
    padding-right: 230px;
    font-size: 40px;
    margin-bottom: 30px;
  }
}
#faq-hero {
  background-image: url(../images/hero-images/FQA.jpg);
  position: relative;
  background-size: cover;
  background-position: 0 80%;
}

#faq-text p {
  text-align: center;
}
#faq-text p:last-of-type {
  margin-top: 15px;
  font-weight: 600;
}

#faq-help {
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2%;
}

.q-text {
  background-color: #9BCA3B;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.q-text:last-of-type {
  margin-bottom: 0;
}
.q-text .info-con {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.q-text .info-con h3 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 0;
  padding-left: 5px;
}
.q-text .info-con p {
  font-size: 29px;
  font-weight: 500;
  margin-right: 20px;
}

.answer {
  margin-left: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

#further a {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .q-text {
    border-radius: 20px;
  }
  .q-text .info-con h3 {
    margin-left: 15px;
  }
  .answer {
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  #faq-text p {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .q-text {
    margin-bottom: 30px;
  }
  .q-text .info-con h3 {
    font-size: 25px;
  }
  #faq-help {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#services-hero {
  background-image: url(../images/hero-images/services.jpg);
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: cover;
  position: relative;
}

#services-title p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.service-area {
  border: 5px solid #3A53A4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.service-area p {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
}
.service-area a {
  margin-bottom: 20px;
}

.service-begin {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.service-begin h3 {
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}
.service-begin img {
  margin-top: 15px;
  height: 60px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  #services-title h3 {
    text-align: center;
  }
  #service-div-0, #service-div-2, #service-div-4 {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .service-area {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .service-area p {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
  }
  .service-area a {
    margin-left: 5%;
    margin-bottom: 20px;
  }
  .service-begin {
    justify-content: space-between;
    flex-direction: row;
  }
  .service-begin h3 {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }
  .service-begin img {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1200px) {
  #services-title h3 {
    text-align: center;
  }
  #service-div-0, #service-div-2, #service-div-4 {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .service-area {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .service-area p {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
  }
  .service-area a {
    margin-left: 5%;
    margin-bottom: 20px;
  }
  .service-begin {
    justify-content: space-between;
  }
  .service-begin img {
    margin-top: 30px;
    height: 88px;
  }
  .service-begin h3 {
    margin-top: 30px;
    font-size: 30px;
  }
}
#blog-post-title {
  margin-bottom: 0 !important;
}
#blog-post-title h3 {
  text-align: center;
}

#content-image {
  width: 50%;
  float: left;
  margin-right: 2%;
}

.admin-list {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #70CBD6;
}

.see-more {
  margin-bottom: 30px;
}
.see-more p, .see-more h3 {
  text-align: center;
}
.see-more p {
  cursor: pointer;
}
.see-more p:hover {
  text-decoration: underline;
}

.admin-info-div {
  margin-bottom: 30px;
  border: 3px solid #9BCA3B;
  padding: 2%;
}

.admin-action-div {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.admin-action-div a {
  color: #3A53A4;
  text-decoration: underline;
}

.admin-h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.partner-link {
  text-decoration: underline;
  color: #3A53A4;
}
.partner-link:visited {
  color: #3A53A4;
}

#volunteer-list, #volunteer-form, #blog-list, #blog-form, #event-form, #event-list, #career-form, #career-list, #partner-list, #partner-form {
  display: none;
}
#volunteer-list input:not(.admin-submit), #volunteer-form input:not(.admin-submit), #blog-list input:not(.admin-submit), #blog-form input:not(.admin-submit), #event-form input:not(.admin-submit), #event-list input:not(.admin-submit), #career-form input:not(.admin-submit), #career-list input:not(.admin-submit), #partner-list input:not(.admin-submit), #partner-form input:not(.admin-submit) {
  width: 50%;
}
#volunteer-list textarea, #volunteer-form textarea, #blog-list textarea, #blog-form textarea, #event-form textarea, #event-list textarea, #career-form textarea, #career-list textarea, #partner-list textarea, #partner-form textarea {
  width: 50%;
}

.admin-submit {
  width: 15%;
}

.admin-form {
  padding: 30px;
  background-color: #70CBD6;
  flex-direction: column;
  align-items: center;
}
.admin-form form {
  width: 50%;
}
.admin-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 2/3;
}
.admin-form input:not(.admin-submit) {
  width: 100%;
}
.admin-form textarea {
  width: 100%;
}
.admin-form .admin-submit {
  width: 20%;
  margin-bottom: 30px;
}

#network-hero {
  background-image: url(../images/hero-images/network.jpg);
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: cover;
  position: relative;
}

#connect-why li, #network-goals li, #gaps li {
  list-style-type: disc;
  margin-left: 5%;
  margin-bottom: 5px;
}

#network-goals li {
  margin-bottom: 20px;
}

#connect-why li::marker, #network-goals li::marker, #gaps li::marker {
  color: #9BCA3B;
  fill: #9BCA3B;
}

.bold-text {
  font-weight: 600;
}

#get-connected a {
  transition: all ease-in-out 0.5s;
  color: #9BCA3B;
}
#get-connected a:hover {
  opacity: 70%;
}

#our-network h3, #connect-why h3, #network-goals h3, #get-connected-con h3, #gaps h3 {
  text-align: center;
  margin-bottom: 20px;
}
#our-network p, #connect-why p, #network-goals p, #get-connected-con p, #gaps p {
  margin-bottom: 20px;
}
#our-network ul, #connect-why ul, #network-goals ul, #get-connected-con ul, #gaps ul {
  margin-bottom: 20px;
}

#network-goals p {
  margin-bottom: 20px;
}

#contact-redirect {
  height: 200px;
  width: 100%;
  background-image: url(../images/envelope.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border-radius: 20px;
  margin-bottom: 20px;
}
#contact-redirect .shader {
  border-radius: 20px;
}
#contact-redirect h3 {
  color: white;
}
#contact-redirect:hover {
  opacity: 70%;
}

#volunteer-network-redirect {
  height: 200px;
  width: 100%;
  background-image: url(../images/volunteer.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border-radius: 20px;
}
#volunteer-network-redirect .shader {
  border-radius: 20px;
}
#volunteer-network-redirect h3 {
  color: white;
}
#volunteer-network-redirect:hover {
  opacity: 70%;
}

#get-connected {
  margin-bottom: 20px;
}

#network-image {
  background-image: url(../images/unity.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  height: 200px;
}

#part-image {
  background-image: url(../images/teenager-window.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  #part-image {
    order: -1;
    height: auto;
  }
  #network-image {
    margin-top: 0;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #get-connected {
    margin-bottom: 30px;
  }
  #contact-redirect, #volunteer-network-redirect {
    height: 300px;
  }
}
#login-con {
  height: 100vh;
  background-color: #70CBD6;
}

#form-container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form-container h3 {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */