@font-face {
    font-family: "Montserrat Alternates";
    font-style: normal;
    src: url("../fonts/montserratalternates-regular-webfont.woff");
}

@font-face {
    font-family: "Metropolis-SemiBold";
    font-style: normal;
    src: url("../fonts/Metropolis-Semibold.woff");
}