@use "../abstracts/variables" as v;

body {
    position: relative;
    z-index: -10;
    background-color: #ffffff;
    transition: all ease-in-out 0.5s;
}

a {
    text-decoration: none;
}

.full-width-grid-con {
    .grid-con {
        margin: 0;
        grid-column: 2/3;
    }
}

.line-break {
    border-bottom: 1px solid black;
}

.hero-image {
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
        height: 405px;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
    height: 80px;
    border: none;
    resize: none;
}

.send-button {
    width: 130px;
    border: 0;
    background-color: v.$blue;
    text-align: center;
    color: white;
    border-radius: 25px;
    align-self: center;
    cursor: pointer;
}

section {
    margin-bottom: 30px!important;
}

.custom-button {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: v.$blue;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white!important;
    font-size: 17px;
    transition: all ease-in-out 0.5s;
    &:hover {
        background-color: v.$green;
    }
}

.shader {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 35%;
    position: absolute;
}

video {
    border-radius: 20px;
}

.divider {
    border-bottom: 2px solid v.$green;
    margin-bottom: 30px;
}

.form-style {
    margin-bottom: 30px;
    input {
        width: 100%;
    }

    #message {
        width: 100%;
    }
}

#feedback-area, #message-confirm {
    margin-top: 20px;
    background-color: transparent!important;
    p {
        padding: 10px;
        border-radius: 20px;
        background-color: white;
    }
}

#newsletter-confirm, #newsletter-feedback {
    p {
        color: white;
        margin-bottom: 20px;
    }
}


.catch-handle {
    display: none;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    textarea {
        height: 120px;
    }

    .hero-image {
        height: 315px;
    }

    .line-break {
        border-bottom: none;
        border-right: 1px solid black;
        height: 20px;
    }

    section {
        margin-bottom: 35px!important;
    }

    .custom-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: 400;
    }

    .divider {
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 1200px) {
    textarea {
        height: 150px;
    }
    
    .hero-image {
        height: 500px;
    }

    section {
        margin-bottom: 40px!important;
    }

    .custom-button {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    label {
        font-size: 20px;
        font-weight: 400;
    }

    .divider {
        margin-bottom: 40px;
    }
}

// @media screen and (min-width: 1920px) {
//     section {
//         margin-bottom: 45px!important;
//     }

//     .custom-button {
//         padding-left: 70px;
//         padding-right: 70px;
//         padding-top: 25px;
//         padding-bottom: 25px;
//         font-size: 25px;
//     }

//     .hero-image {
//         height: 700px;
//     }

//     label {
//         font-size: 24px;
//     }

//     .divider {
//         margin-bottom: 45px;
//     }
// }